@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto.ttf");
}

@font-face {
  font-family: 'SegoeUI';
  src: url("/fonts/SegoeUI.ttf");
}

@font-face {
  font-family: 'Gilroy';
  src: url("/fonts/Gilroy.otf");
}

body {
  font-family: "SegoeUI", sans-serif;
  font-size: 16px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1275px;
  margin: 0 auto;
  padding: 0 17.5px;
}

.btn {
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #1E1E1E;
  background-color: #F8C378;
  padding: 27px 42px;
  border-radius: 6px;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
}

.subtitle {
  font-size: 25px;
  line-height: 34px;
  text-align: center;
}

.header {
  background: #1C1C1C;
  position: relative;
  z-index: 2;
  padding: 49px 0 234px 0;
}

.header::after {
  content: "";
  position: absolute;
  background: url("img/header/bg-header.png") no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.header__button {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 21px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  padding: 28px 50px;
}

.header__logo {
  max-width: 269px;
}

.header__logo img {
  max-width: 100%;
}

.header__body {
  margin-top: 52px;
  text-align: center;
}

.header__body-button {
  margin: 53px 0 0 0;
}

.header__body-button img {
  padding-right: 20px;
}

.header__title {
  font-size: 45px;
  line-height: 54px;
  font-weight: 600;
  color: #ffffff;
}

.header__title span {
  display: block;
  color: #F8C378;
}

.header__subtitle {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #A5A5A5;
  margin-top: 17px;
}

.header__slider {
  margin-top: 38px;
}

.header > .swiper-slide img {
  max-width: 100%;
}

.header > .swiper-container {
  overflow: visible;
}

.cards {
  position: relative;
  margin-top: calc(330px/-2);
  z-index: 2;
}

.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1C1C1C;
}

.cards__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 11px;
  border: 1px solid #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 58px 27px 48px 27px;
}

.cards__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 135px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.cards__img img {
  max-width: 100%;
}

.cards__text {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cards__text span {
  color: #F8C378;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 100%;
}

.category {
  padding: 130px 0 65px 0;
}

.category__row {
  text-align: center;
}

.category__slider {
  margin-top: 80px;
}

.category__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}

.category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
  padding: 0 10px;
}

.category__text {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin: 70px 0 0 0;
}

.category__button {
  margin-top: 42px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(27, 27, 27, 0.2);
  padding: 67px 0 38px 0;
  overflow: hidden;
}

.item__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.item__img-second {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: absolute;
  bottom: -45px;
  right: -55px;
}

.item__img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.item__title {
  margin-top: 50px;
}

.item__info {
  font-size: 16px;
  line-height: 22px;
  margin-top: 12px;
  color: #343434;
}

.item__info img {
  cursor: pointer;
  margin-right: 12.5px;
}

.item__info a {
  color: #343434;
}

.item__info-text {
  position: absolute;
  left: auto;
  top: 50%;
  background-color: #F5D3A3;
  padding: 29px 50px;
  text-align: left;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  visibility: hidden;
  opacity: 0;
}

.item__info-text--active {
  visibility: visible;
  opacity: 1;
}

.scrab-second {
  -webkit-transform: rotate(19deg);
      -ms-transform: rotate(19deg);
          transform: rotate(19deg);
}

.mask .item__img-second {
  right: -80px;
}

.oil .item__img-second {
  right: -100px;
}

.complex {
  padding: 75px 0;
}

.complex__subtitle {
  margin-top: 23px;
}

.complex__body {
  margin-top: 45px;
}

.complex__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-width: 760px;
}

.complex__category {
  font-size: 18px;
  line-height: 24px;
  padding: 14px 27px;
  border: 1px solid #1C1C1C;
  margin: 10px 5px;
  cursor: pointer;
}

.complex__category--active {
  background-color: #1C1C1C;
  color: #ffffff;
}

.complex__product {
  display: none;
}

.complex__product--active {
  display: block;
}

.product__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 59px;
}

.product__subtitle {
  font-size: 16px;
  line-height: 23px;
}

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.product__picture {
  position: relative;
  max-height: 500px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 420px;
          flex: 0 0 420px;
}

.product__picture-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__picture-info-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 0 18px 0;
  position: relative;
  bottom: 60px;
  width: 100%;
  background-color: #1C1C1C;
  color: #ffffff;
  cursor: pointer;
}

.product__picture-info-link img {
  margin-right: 13px;
}

.product__picture-info-link:hover .product__picture-info-text {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.product__picture-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 56px 30px 41px;
  position: absolute;
  left: 0;
  bottom: 60px;
  right: 0;
  width: 100%;
  font-size: 16px;
  line-height: 25px;
  background-color: #282828;
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.product__body {
  margin-left: 103px;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
}

.product__price-old {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  text-decoration: line-through;
  color: #959595;
}

.product__price-new {
  position: relative;
  margin-left: 17px;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 42px;
  color: #1C1C1C;
  text-decoration: none;
}

.product__price-percent {
  position: absolute;
  right: -55px;
  top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  padding: 5px 8px;
  background-color: #FF6565;
  border-radius: 3px;
  color: #ffffff;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__info-column {
  min-height: 301px;
  height: 100%;
}

.product__info-column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 420px;
          flex: 0 0 420px;
  padding-right: 57px;
  margin-top: 21px;
}

.product__info-column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 292px;
          flex: 0 0 292px;
  margin-left: 5px;
  background-color: #FFF5E8;
  padding: 24px 23px 40px 57px;
}

.product__info-column-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #959595;
}

.product__info ul li {
  font-size: 16px;
  color: #1C1C1C;
}

.product__info-result {
  margin-top: 7px;
}

.product__info-result li {
  position: relative;
  line-height: 25px;
  padding-left: 20px;
}

.product__info-result li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #F8C378;
}

.product__info-bonus {
  margin-top: 24px;
}

.product__info-bonus li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 31px;
  line-height: 15px;
}

.product__info-bonus li:first-child {
  margin-top: 24px;
}

.product__info-bonus img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43px;
          flex: 0 0 43px;
  max-width: 100%;
  margin-right: 16px;
}

.product__subinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2px;
}

.product__subinfo-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.product__subinfo-columns:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 330px;
          flex: 0 0 330px;
  margin-right: 38px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__subinfo-columns:last-child {
  font-size: 16px;
  line-height: 21px;
  color: #696969;
  margin-top: 18px;
}

.product__subinfo-text {
  text-align: center;
  margin-top: 9px;
  color: #696969;
  font-size: 13px;
  line-height: 18px;
}

.product__btn {
  padding: 39px 45px 41px 45px;
}

.reviews {
  padding: 75px 0;
}

.reviews__body {
  margin-top: 80px;
}

.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10.5px;
}

.reviews__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 10.5px;
}

.reviews__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.consult {
  margin-top: 75px;
  background: #1C1C1C;
  position: relative;
  z-index: 2;
}

.consult::after {
  content: "";
  position: absolute;
  background: url("img/header/bg-header.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.consult__row {
  padding: 112px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.consult__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.consult__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 54px;
  text-align: left;
}

.consult__text {
  font-size: 24px;
  line-height: 36px;
  color: #A5A5A5;
  margin-top: 24px;
}

.consult__btn {
  margin-top: 65px;
  padding: 30px 60px;
}

.consult__btn img {
  margin-right: 20px;
}

.consult__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 561px;
          flex: 0 0 561px;
}

.consult__img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.footer {
  padding: 0 0 69px 0;
}

.footer__row {
  color: #1C1C1C;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 256px;
          flex: 0 1 256px;
}

.footer__logo img {
  min-width: 100%;
}

.footer__info {
  margin-top: 57px;
}

.footer__link {
  text-decoration: underline;
  color: #1C1C1C;
}

.footer__rights {
  text-align: right;
  margin-top: 20px;
}

.footer__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  margin-top: 19px;
}
