.cards
  position: relative
  margin-top: calc(330px/-2)
  z-index: 2
  +_960
    margin-left: 82px
    margin-right: 82px
    margin-top: -190px
  +_720
    margin-left: 27px
    margin-right: 27px
  +_480
    margin-left: 47px
    margin-right: 47px
  +_320
    margin-left: 47px
    margin-right: 47px
  &__row
    display: flex
    flex-wrap: wrap
    margin: 0 -10px
  &__item
    display: flex
    padding: 0 10px
    flex: 1 1 25%
    +_960
      flex: 1 1 50%
      padding: 10px
    +_720
      min-width: 220px
    +_480
      flex: 1 1 100%
  &__wrapper
    display: flex
    background-color: $color-bg        
  &__body
    display: flex
    margin: 11px
    border: 1px solid #ffffff
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 58px 27px 48px 27px
    +_320
      padding-top: 40px
      padding-bottom: 34px
  &__img
    display: flex
    min-height: 135px
    flex: 0 0 auto
    +_960
      max-height: 90px
      min-height: 90px
    & img
      max-width: 100%
  &__text
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #ffffff
    flex: 1 1 auto
    +_960
      padding-top: 43px
    +_320
      font-size: 14px
      padding-top: 30px
    & span
      color: $color-main