$segoe: 'SegoeUI', sans-serif
$roboto: 'Roboto', sans-serif
$gilroy: 'Gilroy', sans-serif

$color-main: #F8C378
$color-second: #F5D3A3
$color-bg: #1C1C1C

=_1140
  @media (max-width: 1140px)
      @content

=_960
  @media (max-width: 960px)
      @content

=_720
  @media (max-width: 720px)
      @content

=min720
  @media (min-width: 720px)
      @content

=_480
  @media (max-width: 480px)
      @content

=_320
  @media (max-width: 320px)
      @content
  

body
  font-family: $segoe
  font-size: 16px

.wrapper
  display: flex
  flex-direction: column
  min-height: 100%

.container
  max-width: 1330px
  margin: 0 auto
  padding: 0 17.5px
  +_960
    padding: 0 43px
  +_480
    padding: 0 23px
  +_320
    padding: 0 5px
.btn
  text-align: center
  display: inline-flex
  align-items: center
  font-weight: 600
  font-size: 18px
  line-height: 24px
  letter-spacing: 0.07em
  text-transform: uppercase
  color: #1E1E1E
  background-color: $color-main
  padding: 27px 42px
  border-radius: 6px

.title
  font-weight: 600
  font-size: 40px
  line-height: 53px
  text-align: center
  +_480
    font-size: 24px
    line-height: 32px
.subtitle
  font-size: 25px
  line-height: 34px
  text-align: center