.slider
  display: flex
  justify-content: center
  overflow: visible
  margin-top: 38px
  &-container
    position: relative
    max-width: 860px
    height: 491px
    +_960
      max-width: 650px
      max-height: 371px
    +_480
      max-width: 440px
      max-height: 251px
  &-wrapper
  &-slide
    display: none
    width: 100%
    visibility: hidden
    opacity: 0
    transition: visibility 0.3s, opacity 0.3s
    &--active
      display: block
      visibility: visible
      opacity: 1
      transition: visibility 0.3s, opacity 0.3s
    & img
      width: 100%
      height: 100%
      object-fit: cover
  &-button
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 100%
    display: flex
    justify-content: space-between
    &-next, &-prev
      position: relative
      background-color: #1C1C1C
      width: 56px
      height: 56px
      border-radius: 50%
      cursor: pointer
      +_960
        width: 42.33px
        height: 42.33px
      +_480
        width: 32.34px
        height: 32.34px
      &::after
        content: ''
        position: absolute
        width: 25%
        height: 25%
        border-top: 2px solid #ffffff
        border-right: 2px solid #ffffff
        +_960
        +_480
    &-next
      right: 49px
      +_960
        right: 37px
      +_480
        right: 20px
      &::after
        transform: translate(-65%, 150%) rotate(45deg)
    &-prev
      left: 49px
      +_960
        left: 37px
      +_480
        left: 20px
      &::after
        transform: translate(-35%, 150%) rotate(-135deg)